/** Changes to make it look close to what A wanted **/
.navbar{
    height: 50px;
    background-color:#77C0B1;
    padding:0px;
    /** Shadows */
    -webkit-box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);
    -moz-box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);
    box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);  
    z-index:1;
    
}
.table td,.table tr{border-top: 0px solid transparent;}
.dashi{
    line-height: -10px;
    margin-left:20px;
}
#lookIt{
    text-indent: 40px;
    background-color:white;
    width:320px;
    height: 38px;
    border-radius: 16px;
}
input#lookIt{
    background-image: url('img/lupa.svg');
    background-position: 8px 8px;
    background-repeat: no-repeat;
}
.menuHambur{
    filter:invert(100%);
}
/** Col2; columna de botones */
.col2{
    background-color: #ffffff;
    border-right: black;
    z-index: 0;
} 
/**  Botones */
.boton{
    text-indent: 64px;
    padding: 14px;
    cursor:pointer; 
    width:100%;
}
#historial{
    /**text-indent: 14px;
    /** Cause 'selected' **/
    background-color: #DDF0EC;
}
.boton:hover{
    background-color:#DDF0EC;
}
/** Vehiculo (inutil yet) del usuario */
.userVehiculos{
    display:none;
} 
/** row */
.g{
    background-color:#EDEDED;
}
#logOut{
    text-indent: 50px;
}
/** Let's do the absolute-> relative trick *
 ** for the icons positionig               */
.relative{
    position:relative;
}
.abso_icons{
    position:absolute;
    top:13px;
    left:40px;
}
#logout{left:36px}
#vehi_icon{
    top:13px;
}
/* Hardcorde changes*/
.conten{
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(98, 98, 98, 0.75);
-moz-box-shadow: 2px 2px 2px 1px rgba(97, 97, 97, 0.75);
box-shadow: 2px 2px 2px 1px rgba(98, 98, 98, 0.75);

}
.hover:hover{
    background-color:  #DDF0EC;   
}
