.inputAct{
    border-radius: 6px;
    width: 96%;
}
input, select{
    width:100%;
    
}
.dot{cursor: pointer;color:rgb(7, 105, 253);}

 /*End so far*/

html,body{
    height:100%;
}
.col2{
    background-color: #5FA2DD;
    min-height: 100%;
}
.maini{
    
    height:100%;
}
#userVehiculos{
    display:none;
}
.name{
    font-size:10px;
}
.sugerencia{
    position:absolute;
    font-size:9px;
    color:brown;
}
#fechaSugerida{
    top:233px;
    left:800px;
}
#ubicacionSugerida{
    top:232px;
    left:22px;
    
}
#anoSugerido{
    top:104px;
    left:886px;
    
}
#f_aceiteMotor{
    top:34px;
    left:16px;
}
#f_aceiteHidraulico{
    top:34px;
    left:876px;
}
#f_airePrimario{
    top:34px;
    left:362px;
}
#f_aireSecundario{
    top:34px;
    left:706px;
}
#f_transmision{
    top:34px;
    left:18px;
} 
#f_tanqueHidraulico{
    top:34px;
    left:192px;
}
#f_combustiblePrimario{
    top:34px;
    left:362px;
}
#f_combustibleSecundario{
    top:34px;
    left:538px;
}
#f_tanqueGasoil{
    top:34px;
    left:704px;
}
#t_aceiteHidraulico{
    top:34px;
    left:796px;
}
#t_aceiteMotor{
    top:34px;
    left:16px;
}
#t_aceiteTransmision{
    top:34px;
    left:276px;
}
#t_aceiteCaja{
    top:34px;
    left:536px;
}
#c_carterMotor{
    top:34px;
    left:16px;
}
#c_tanqueCaja{
    top:34px;
    left:276px;
}
#c_tanqueTransmision{
    top:34px;
    left:535px;
}
 #c_tanqueHidraulico{
    top:34px;
    left:794px;
} 
.rowfecha,.rowRelative{
    position:relative;
}
.btnDanger{
    width:80px;
 
}
/***/
.Elimi{   
    cursor: pointer;
    left:50px;
    position:absolute;
}
.absoluties{
    position:absolute;
    left:14px;
    top:2px;
}
.rel{
    position:relative;
}
/***/
#if,.if{font-size: 11.2px;}
.actividadesClass{
    font-size:11px;
    color:darkblue;
}
.rut1,.rut2,.rut3,.rut4{
    display:none;
}
/** Changes to make it look close to what A wanted **/
.navbar{
    height: 50px;
    background-color:#77C0B1;
    padding:0px;
    /** Shadows */
    -webkit-box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);
    -moz-box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);
    box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);  
    z-index:1;
    
}
.dashi{
    line-height: -10px;
    margin-left:20px;
}
#lookIt{
    text-indent: 40px;
    background-color:white;
    width:320px;
    height: 38px;
    border-radius: 16px;
}
input#lookIt{
    background-image: url('img/lupa.svg');
    background-position: 8px 8px;
    background-repeat: no-repeat;
}
.menuHambur{
    filter:invert(100%);
}
/** Col2; columna de botones */
.col2{
    background-color: #ffffff;
    border-right: black;
    z-index: 0;
} 
/**  Botones */
.boton{
    text-indent: 64px;
    padding: 14px;
    cursor:pointer; 
    width:100%;
}
#register{
    /**text-indent: 14px;
    /** Cause 'selected' **/
    background-color: #DDF0EC;
}
.boton:hover{
    background-color:#DDF0EC;
}
/** Vehiculo (inutil yet) del usuario */
.userVehiculos{
    display:none;
} 
/** row */
.g{
    background-color:#EDEDED;
}

#logOut{
    text-indent: 50px;
}
/** Let's do the absolute-> relative trick *
 ** for the icons positionig               */
.relative{
    position:relative;
}
.abso_icons{
    position:absolute;
    top:13px;
    left:40px;
}
#logout{left:36px}
#vehi_icon{
    top:13px;
}
/** Hardcorde changes incoming **/
.add{
    position:absolute;
    left:12px;
    top:8px;
    font-size: 16px;
    font-weight: 600;
}
#equipos{
    text-indent: 10px;
    border-radius: 10px;
}
.inputs{
    height: 36px;
    border-radius: 10px;
    text-indent: 10px;
}
/** Table of mine*/
.tableOfMine{
    background-color: white;
   
}
.table td,.table tr{border-top: 0px solid transparent;}
.contenedor{
    background-color:white;
    height: 100%;
    width:100%;
    padding:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.abs{
    position:absolute;
    top:82%;
    left:92%;
    cursor: pointer;
    
}
.hover:hover{
    background-color: #DDF0EC;
}
#equipoCol{
    width:150px;
}
.btnn{
    background-color:#77C0B1;
}
.btnn:hover{
    background-color:rgba(61, 183, 157, 0.904);
}
/** Here just lets modify textarea and stuff **/
.textarea{
    width:100%; 
    height:60px;
    resize:none;
    border-radius: 10px;
}
