/** Changes to make it look close to what A wanted **/
.navbar{
    height: 50px;
    background-color:#77C0B1;
    padding:0px;
    /** Shadows */
    -webkit-box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);
    -moz-box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);
    box-shadow: 0px 3px 20px -5px rgba(51,51,51,1);  
    z-index:1;
    
}
.table td,.table tr{border-top: 0px solid transparent;}
.dashi{
    line-height: -10px;
    margin-left:20px;
}
#lookIt{
    text-indent: 40px;
    background-color:white;
    width:320px;
    height: 38px;
    border-radius: 16px;
}
input#lookIt{
    background-image: url('img/lupa.svg');
    background-position: 8px 8px;
    background-repeat: no-repeat;
}
.menuHambur{
    filter:invert(100%);
}
/** Col2; columna de botones */
.col2{
    background-color: #ffffff;
    border-right: black;
    z-index: 0;
} 
/**  Botones */
.boton{
    text-indent: 64px;
    padding: 14px;
    cursor:pointer; 
    width:100%;
}
#vehiculo{
    /**text-indent: 14px;
    /** Cause 'selected' **/
    background-color: #DDF0EC;
}
.boton:hover{
    background-color:#DDF0EC;
}
/** Vehiculo (inutil yet) del usuario */
.userVehiculos{
    display:none;
} 
/** row */
.g{
    background-color:#EDEDED;
}
#logOut{
    text-indent: 50px;
}
/** Let's do the absolute-> relative trick *
 ** for the icons positionig               */
.relative{
    position:relative;
}
.abso_icons{
    position:absolute;
    top:13px;
    left:40px;
}
#logout{left:36px}
#vehi_icon{
    top:13px;
}
/** This down here is just for color testing**/
.conten{
    background-color: white;
    padding: 10px;
   
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(98, 98, 98, 0.75);
-moz-box-shadow: 2px 2px 2px 1px rgba(97, 97, 97, 0.75);
box-shadow: 2px 2px 2px 1px rgba(98, 98, 98, 0.75);

}
.hover:hover{
    background-color: #DDF0EC;
}
select{
    border-radius: 10px;
    text-indent: 10px;
    width:100;
}
.inputs{
    height: 36px;
    border-radius: 10px;
    text-indent: 10px;
    
}
.formgroup {
    margin-bottom: 0px;
}
.terceraHilera,.segundaHilera{
    display:none;
}
.ocultar{
    display:none;
}
.inputAct{
    border-radius: 6px;
    width: 96%;
}
.letMeSend {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;

     /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;

    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;

    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;

    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;

    /* make sure colors have enough contrast! */
    color: #ffffff;
    background-color: #77C0B1;

    position:absolute;
    left:0px;
    top:10px;

  }
  .letMeSend:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
  .letMeSend:hover{
    color: #77C0B1;
    border-color: currentColor;
    background-color: white;
  }
  .disabled {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: none;

     /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;

    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;

    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;

    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;

    /* make sure colors have enough contrast! */
    color: #ffffff;
    background-color: rgb(173, 173, 173);

    position:absolute;
    left:0px;
    top:10px;

  }
  